@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 55vh;
  color: white;
  margin: 24px;
  align-items: center;
  font-family: "Nunito", sans-serif;
}
.info {
  flex: 1;
  padding: 20px;
  overflow: hidden;
  /* display: flex; */
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

p {
  font-weight: 600;
}

.commanname {
  font-weight: 900;
  font-size: 24px;
}

.button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 24px;

  border-radius: 4px;
  border: none;
  margin-left: 40px;
  margin-top: 40px;
  cursor: pointer;
}

.button img {
  width: 16px;
  height: 16px;
  filter: contrast(0%);
}

.countyInfo {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.darkButton {
  background-color: #2b3743;
  color: #ffffff;
  box-shadow: 0px 0px 2px 1px #1a2631;
  fill: "##000000";
}

.lightButton {
  background-color: #ffffff;
  color: #2b3743;
  box-shadow: 0px 0px 2px 1px #ab9e9e;
}

.light {
  color: #2b3743;
}
.dark {
  color: #ffffff;
}
.border {
  padding: 10px 24px;
  /* box-shadow: 0px 0px 2px 1px #ab9e9e; */
  border-radius: 4px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}
