@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito", sans-serif;
}
.dark {
  background-color: #2b3743;
  color: #fcfdff;
}
.light {
  background-color: #ffffff;
  color: #2b3743;
}
.dark_mode_image {
  width: 24px;
  height: 24px;
}

.darkmode {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 18px;
  }
  p{
    font-size: 14px;
  }
}
