@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    background-color:#2b3743 ;
    font-family: "Nunito", sans-serif;
    color: #fcfdff;
}
.dark_mode_image{
    width: 24px;
    height: 24px;
}

.darkmode{
    display: flex;
    align-items: center;
}